body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.container {
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 0.5;
}

p {
  font-weight: 400; 
  font-size: 2rem;
  color: #333;
}